{% with chart=data.panels.avalancherisk.pop_likelihood color="colorAvaRisk" grid="s12 m6 xl4" offset="offset-xl2" word_ref="at risk" %}
    {% include "dash_chart_donut.html" with title=chart.title icon="" key="avalancherisk_pop_likelihood" values=chart.child total_atrisk=chart.total_atrisk total=chart.total %}
{% endwith %}
{% with chart=data.panels.avalancheforecast.pop_likelihood color="colorFloodRisk" grid="s12 m6 xl4" offset="" %}
    {% include "dash_chart_donut.html" with title=chart.title icon="" key="avalancheforecast_pop_likelihood" values=chart.child total_atrisk=chart.total_atrisk total=chart.total %}
{% endwith %}
